.header {
    background-color: #F55A5A;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 17.5px;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;

}